/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {width: 0.3rem;}

*::-webkit-scrollbar-track {
  border-radius: 0.1rem;
  background: #18181B;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #16A34A;
  border: 3px solid #16A34A;
}

@tailwind base;
@tailwind components;
@tailwind utilities;